<?xml version="1.0" ?>
<launch>
  <arg name="mqtt_bridge_ip" default="$(optenv MQTT_BRIDGE_IP localhost)" doc="ip of bridge"/>
  <arg name="mqtt_bridge_port" default="$(optenv MQTT_BRIDGE_PORT 8883)" doc="port of bridge"/>

  <arg name="launch_navigation" default="$(optenv LAUNCH_NAVIGATION false)" />  <!-- TODO: change to true as default -->

  <!-- Launch Robot -->
  <include file="$(find uol_turtlebot_simulator)/launch/object-search-training.launch"/>

  <!-- Launch Navigation -->
  <node pkg="vrviz_ros" name="vrviz_test_navigation" type="b_navigate_robot.py" output="screen" if="$(arg launch_navigation)"/>

  <!-- Start MQTT Server -->
  <include file="$(find vrviz_ros)/launch/mqtt.launch" />

</launch>

