<?xml version="1.0" ?>
<launch>
  <arg name="log_level" default="2"/>


  <!-- run communication manager & initialise channels -->
  <arg name="control_topic"    default="__dynamic_server" doc="control port for dynamic server"/>
  <arg name="mqtt_bridge_ip"   default="$(optenv MQTT_BRIDGE_IP localhost)" doc="ip of bridge"/>
  <arg name="mqtt_bridge_port" default="$(optenv MQTT_BRIDGE_PORT 8883)" doc="port of bridge (set in .runcom)"/>
  <arg name="mqtt_config_file" default="$(find vrviz_ros)/config/mqtt_dynamic_bridge_server_config.yaml"/>

  <arg name="web_server_port" default="$(optenv WEB_SERVER_PORT 8080)" doc="standard port for webserver (set in .runcom)"/>
  <arg name="web_server_config" default="$(optenv WEB_SERVER_CONFIG ../config)" doc="standard location for webserver configs(set in .runcom)"/>

  <node pkg="mqtt_bridge" name="mqtt_bridge" type="mqtt_bridge_node.py" output="screen" respawn="true">
        <rosparam command="load"      subst_value="true"          file="$(arg mqtt_config_file)"/>
        <param name="log_level"       value="$(arg log_level)"    type="int"/>
  </node>

  <!-- Topics configuration location -->
  <node pkg="vrviz_ros" name="client_connection_finder" type="broadcast.py" output="screen">
        <param name="mqtt_port" value="$(arg mqtt_bridge_port)" type="int"/>
        <param name="web_server_port" value="$(arg web_server_port)" type="int"/>
  </node>

  <node pkg="vrviz_ros" name="webserver" type="web_server.py" output="screen">
        <param name="web_server_port" value="$(arg web_server_port)" type="int"/>
        <param name="web_server_config" value="$(arg web_server_config)" type="string"/>
  </node>

  <!-- open connection for external access -->
  <node pkg="mqtt_bridge" name="mosquitto_server" type="mosquitto_server.sh" output="screen" args="$(arg mqtt_bridge_port)"/>
  
  
</launch>